* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    font-family: sans-serif;
    background-color: #eee;
    display: flex;
}

.container {
    margin: auto;
    width: 500px;
    max-width: 90%;
}

.container form {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.container form h1 {
    text-align: center;
    margin-bottom: 24px;
    color: #222;
}

.container form .form-control {
    width: 100%;
    height: 40px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid silver;
    margin: 10px 0 18px 0;
    padding: 0 10px;
    font-size: 24px;
    letter-spacing: 1px;
}

.container form .btn {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 34px;
    border: none;
    outline: none;
    background-color: #27a327;
    cursor: pointer;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
}

.container form .btn:hover {
    opacity: 0.8;
    scale: 1.05;
}