* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

.container {
    width: 200px;
    height: 200px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container > div {
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    border-width: 3px;
    border-color: black;
}

.container .inner {
    width: 60px;
    height: 60px;
    border-style: solid dotted solid dotted;
    margin: -30px 0 0 -30px;
    animation: loader-right 2s linear infinite;
}

.container .outer {
    width: 100px;
    height: 100px;
    border-style: solid solid dotted dotted;
    margin: -50px 0 0 -50px;
    animation: loader-left 2s linear infinite;
}

@keyframes loader-right {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes loader-left {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}
