* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #222;
    height: 100vh;
    display: flex;
}

.container {
    width: 600px;
    height: 200px;
    background-color: lightgray;
    margin: auto;
    display: flex;
    position: relative;
}

.container div {
    width: 100%;
    height: 100%;
    position: absolute;
}

.box-1 {
    background-color: orange;
}

.box-2 {
    background-color: cyan;
}

.box-3 {
    background-color: purple;
}

.active {
    z-index: 1;
}